@tailwind base;
@tailwind components;
@tailwind utilities;

 @layer components {
            .card{
                border: 0.5px solid blue;
                border-radius: 3px;
                padding: 10px 20px;
            }

            .card-one {
                @apply card text-cardtxt bg-cardbg border-cardbdr inline-block ;           
            }
            
            .card-two{
                @apply card text-cardtxtone bg-cardbgone border-cardbdrone inline-block;
            }

            .card-three {
                 @apply card text-cardtxt bg-cardbgone border-cardbdr inline-block;
            }
        }

         